{% extends 'base.html' %}


{% block content %}
    <p>{{ info }}</p>
    {% if tasks|length > 1 %}
        <table>
            <colgroup>
                <col span="1" style="background-color: #D6EEEE">
                <col span="3" style="background-color: pink">
            </colgroup>
            <tr>
                <td>ID</td>
                <td>TaskName</td>
                <td>TaskDescription</td>
                <td>Process</td>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ task[1] }}</td> <!--task_name-->
                <td>{{ task[2] }}</td> <!--task_description-->
                {% if task[3] %} <!--completed/not tasks-->
                    <td>Done</td>
                {% else %}
                    <td>Undone</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{{ tasks[0] }}</p>
    {% endif %}
{% endblock content %}